.main {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 30px auto;
}

.selectbox {
  float: right;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
}

.item {
  background-color: #fbf5f5;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0 30px;
}

@media screen and (max-width: 900px) {
  .item {
    width: 100%;
    margin: 10px;
  }
}
